.parallax {
  background-image: url("MJ-wearing-AJ11.jpg");
  min-height: 700px; 
  opacity: 0.65;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}