.parallax {
  /* Image */
  background-image: url("MJ-wearing-AJ11.jpg");
  min-height: 700px; 
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  opacity: 0.79;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}