body {
    background-color: rgb(255, 255, 255);
  }

  img {
    position: relative;
    opacity: 0.54;
    width: 100%;
    height: auto;
  }

  .caption {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    opacity: 0.96;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}