@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html{
    background: rgb(14, 14, 14);
}

div{
    font-family: 'PT Serif', serif;
    font: x-large;
    text-align: center;
}
