@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html{
    background: rgb(14, 14, 14);
}

div{
    font-family: 'PT Serif', serif;
    color: rgb(255, 255, 255);
    font-size: 63px;
    padding-top: 10%;
}
