body {
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style: none;
    background: #663366;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 1000px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    background: orange;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", san-serif;
    color: rgb(0, 0, 0);
}

nav {
    width: 100%;
    height: 73px;
    background-color: #fff;
    text-align: center;
    padding-left: 376px;
    padding-top: 12px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 19px;
    padding: 19.79px 37px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 13px 20px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 167px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 13px 9px;
}

nav ul li ul li a:hover{
    background-color: rgb(172, 172, 172);
    transition: 0.74s;
}

.bgimg-1, .bgimg-2, .bgimg-3{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("AJ1-Bred.jpg");
    min-height: 100%;
}
.bgimg-2 {
    background-image: url("air-jordan-11-concord-grade-school-sizes.jpg");
    min-height: 100%;
}
.bgimg-3 {
    background-image: url("AJ12-FluGame.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.aj1-img{
    font-size: 11px;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

button {
    background-color: #ffffff;
    color: #777;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
  }
  
  button:hover, button:active {
    background-color: rgb(233, 233, 233);
    transition-duration: .68s;
  }